@charset "UTF-8";
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

.cornice { border: solid 1px #999; padding: 2px; }

.bianconero { -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ filter: grayscale(100%); }

html { text-align: center; }

BODY { background: #fdfdfd; color: #111; font-family: Oxanium, Calibri, Arial, sans-serif; font-size: 16pt; text-align: left; padding: 10px 10px 2rem 10px; width: 100%; max-width: 900px; display: inline-block; margin: auto; }

h1, h2, h3, h4, h5, h6 { margin: 0rem 0 0.5rem; padding: 0; font-weight: bold; line-height: 1.1; -webkit-font-smoothing: antialiased; cursor: text; position: relative; }

H1 { font-size: 2rem; color: #000; }

H1.page-heading { margin-top: 1rem; }

H2 { font-size: 1.5rem; color: #666; }

h3 { font-size: 1.2rem; color: #060; }

h4 { font-size: 1.1rem; color: #666; }

h5 { font-size: 1rem; }

h6 { color: #777777; font-size: 0.9rem; }

p { margin: 0; padding: 0; text-align: justify; }

CODE, PRE, P.code { background-color: #f0f0f0; color: #666; text-align: left; font-size: 14pt; line-height: 1.1; overflow: auto; }

a { color: #600; }

a.absent { color: #cc0000; }

a:visited { text-decoration: underline gray; }

a.anchor { display: block; padding-left: 30px; margin-left: -30px; cursor: pointer; position: absolute; top: 0; left: 0; bottom: 0; }

ul, ol, blockquote, pre { margin: 2rem 0.5rem; padding-left: 1rem; font-size: 1em; }

ul :first-child, ol :first-child { margin-top: 0; }

blockquote { padding: 0 15px; color: #777777; font-style: italic; }

blockquote P { text-align: left; }

blockquote > :first-child { margin-top: 0; }

blockquote > :last-child { margin-bottom: 0; }

sup { font-size: 0.7em; vertical-align: super; line-height: 0; }

LABEL { font-weight: bold; }

/** Componenti della pagina */
HEADER #site-logo { display: inline-block; text-align: left; vertical-align: top; width: 306px; }

HEADER #site-logo .site-title A { color: #000000; font-size: 1.5rem; font-weight: 700; letter-spacing: 0; margin-bottom: 0; text-transform: uppercase; text-decoration: none; }

HEADER #site-logo .site-title A SPAN.tld { color: #990000; }

HEADER #site-logo .site-claim { color: #333; }

HEADER #site-logo .site-description { font-size: 0.8rem; letter-spacing: 0; margin-bottom: 0; text-transform: uppercase; }

/** Stili per il menu principale */
HEADER DIV.wrapper { position: relative; }

HEADER P.post-meta { padding: 1rem 0; color: #999; }

HEADER NAV.menu { display: inline-block; position: absolute; bottom: 0; padding: 2px 0.5rem; right: 0; }

HEADER NAV.menu A { font-size: 1rem; font-weight: bold; text-decoration: none; display: inline-block; padding: 0 0.5rem; color: #600; }

HEADER NAV.menu A.corrente { color: #333; position: relative; bottom: -0.25rem; }

HEADER NAV.menu A:hover { color: #900; }

HEADER IMG.testata { width: 100%; margin: 1rem 0; }

MAIN { text-align: left; position: relative; padding: 3rem 100px; }

MAIN SECTION.testo { padding-bottom: 2rem; }

/** Stili per elenco articoli */
SECTION.post-list { margin: 0; padding: 0; }

SECTION.post-list H2 { margin-bottom: 2rem; }

ARTICLE.post.elenco { display: block; position: relative; margin-bottom: 2rem; height: 150px; }

ARTICLE.post.elenco IMG { width: 200px; height: 150px; float: left; }

ARTICLE.post.elenco IMG:hover { -webkit-filter: reset; filter: none; }

ARTICLE.post DIV.testo P.didascalia { font-size: 11pt; width: 85%; margin: auto; margin-bottom: 1rem; }

ARTICLE.post.elenco HEADER { padding: 4px 10px; display: inline-block; width: calc(100% - 200px); margin-bottom: 0px; }

ARTICLE.post.elenco P.data { color: #999; font-size: 0.9rem; }

ARTICLE.post.elenco P.h2 { display: inline-block; width: calc(100% - 200px); padding: 0rem 10px; font-size: 1rem; }

ARTICLE.post.elenco P.tag { display: inline-block; font-size: 0.9rem; padding: 0rem 10px; }

/** Stili per articoli */
ARTICLE { text-align: justify; width: 100%; margin: 0 auto 2rem auto; }

ARTICLE.post HEADER { padding-top: 2rem; }

ARTICLE.post HEADER H1 { padding-top: 1rem; }

ARTICLE.post HEADER H3 { color: #999; }

ARTICLE.post DIV.testo H2 { margin-top: 2rem; }

ARTICLE.post DIV.testo H3 { margin-top: 2rem; }

/** Codice nel testo e brani di codice */
ARTICLE.post DIV.testo CODE { max-width: 100%; }

ARTICLE.post DIV.testo PRE CODE { font-size: 1rem; }

ARTICLE.post DIV.testo IMG.illustrazione { max-width: 90%; display: block; text-align: center; margin: 1rem auto; }

ARTICLE.post DIV.testo TABLE { border-collapse: collapse; border: solid 1px #999; margin: 1rem auto; }

ARTICLE.post DIV.testo TH { border: solid 1px #999; text-align: center; background-color: #060; color: #fff; padding: 0.5rem; }

ARTICLE.post DIV.testo TD { border: solid 1px #999; padding: 0.5rem; /*min-width: 145px;*/ }

/* Citazione in testa e nome dell'autore */
SECTION.citazione { font-style: italic; font-size: 1rem; padding: 3rem 0 3rem 33%; text-align: right; }

SECTION.citazione SPAN { font-style: normal; }

ARTICLE.post DIV.testo IMG { max-width: 90%; display: block; margin: 1rem auto; padding: 0.5rem; }

ARTICLE.post DIV.testo LI { padding-bottom: 0.5rem; }

SECTION.pubblicazioni ARTICLE { margin-bottom: 3rem; }

SECTION.pubblicazioni P.sinossi { font-size: 0.9em; margin: 0.5rem 0; }

SECTION.pubblicazioni P.data { font-size: 0.9em; }

/** Stili per la gestione delle note a piè di pagina */
SECTION.note, SECTION.bibliografia { margin-top: 4rem; }

A.footnote { margin-left: 4px; }

A.nota { font-size: 0.80rem; color: #600; text-decoration: underline; vertical-align: super; font-weight: bold; display: inline-block; position: relative; left: 4px; }

SECTION.note OL, SECTION.bibliografia UL { font-size: 0.9rem; margin-left: 0; }

SECTION.note LI, SECTION.bibliografia LI { margin-bottom: 0.5rem; text-align: left; }

IMG.qr { position: relative; width: 100px; margin-left: 2mm; float: right; }

/** Stili per mobile */
@media only screen and (max-width: 420px) { BODY { font-size: 13pt; } MAIN { padding: 0; } HEADER NAV.menu { display: block; position: relative; padding: 0.5rem 0rem; } HEADER NAV.menu A { padding: 0 1rem 0 0; } HEADER IMG.testata { width: 100%; margin: 1rem 0; } ARTICLE.post.elenco IMG { width: 100px; height: 80px; } ARTICLE.post.elenco HEADER { padding: 0rem 10px; width: calc(100% - 100px); min-height: 80px; } ARTICLE.post HEADER H3 { text-align: left; font-size: 1.1rem; } ARTICLE.post.elenco P.h2 { display: block; font-size: 1rem; padding: 5px 0 0; width: 100%; } ARTICLE.post.elenco P.tag { font-size: 0.8rem; padding: 0; } }

/*# sourceMappingURL=styles.css.map */