<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta  charset="utf-8" />
    <link      rel="canonical"         href="{{ page.url | absolute_url }}" />
    <link      rel="icon"              href="{{ "/assets/img/favicon.ico" | absolute_url }}" type="image/x-icon" />
    <link      rel="stylesheet"        href="{{ "/assets/css/styles.css"  | absolute_url }}" />
    <link      rel="stylesheet"        href="https://fonts.googleapis.com/css?family=Oxanium:300,400,700&display=swap" />
    <meta     name="description"       content="{{ page.excerpt }}" />
    <meta     name="keyword"           content="{{page.tags | join: ', ''}}" />
    <meta     name="viewport"          content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta     name="twitter:card"      content="summary_large_image">
    <meta     name="twitter:image:alt" content="{{ page.img-alt}}">
    <meta     name="twitter:site"      content="@carlo_simonelli">
    <meta property="fb:app_id"         content="" />
    <meta property="og:description"    content="{{ page.excerpt }}" />
    <meta property="og:image:height"   content="630" />
    <meta property="og:image:width"    content="1200" />
    <meta property="og:image"          content="{{ page.image | absolute_url }}" />
    <meta property="og:site_name"      content="Carlo Simonellli IT">
    <meta property="og:title"          content="{{ page.title }}" />
    <meta property="og:type"           content="website" />
    <meta property="og:url"            content="{{ page.url | absolute_url }}" />    
    <script src="https://use.fontawesome.com/b4b35c88c8.js"></script>
    {%- include google-analytics.html -%}
</head>
