<header class="site-header" role="banner">
    <div class="wrapper">
        <div id="site-logo">
            <p class="site-title" ><a  rel="author" href="{{ "/" | relative_url }}">Carlo Simonelli - <span class="tld">IT</span></a></p>
            <p class="site-claim" >{{ site.claim }}</p>
        </div>
        <nav class="menu">
            <a title="" href="/"               {% if page.url == "/"                   %}class="corrente"{% endif %} >home         </a>
            <a title="" href="/informatica/"   {% if page.url == "/informatica/*"      %}class="corrente"{% endif %} >informatica  </a>
            <a title="" href="/sicurezza/"     {% if page.url == "/sicurezza/*"        %}class="corrente"{% endif %} >sicurezza    </a>
            <a title="" href="/pubblicazioni/" {% if page.url == "/pubblicazioni.html" %}class="corrente"{% endif %} >pubblicazioni</a>
            <a title="" href="/biografia/"     {% if page.url == "/biografia/*"        %}class="corrente"{% endif %} >bio          </a>
        </nav>
    </div>
</header>
