{%- assign date_format = site.minima.date_format | default: "%d %-b, %Y" -%}
<a class="post-link" href="{{ post.url | relative_url }}">
    <img class="mini cornice bianconero" src="{{ post.thumbnail }}" >
</a>
<header>
    <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.h1 | escape }}</a></h3>
    <p class="data">{{ post.date | date: date_format }}</p>
</header>
<p class="h2">{{ post.excerpt | escape }}</p>
<p class="tag">
    <label>Categoria: </label>
    {%- for tag in post.categories -%}
        {{ tag | escape }}
        {% if forloop.last == false %}
            ,
        {% endif %}
    {%- endfor -%}
</p>
