---
layout: default
---

<h1 class="page-heading">{{ page.title }}</h1>

<section class="testo" itemprop="articleBody">
{{ content }}
</section>

<section class="post-list">
    <h2 class="page-heading">{{ page.h2 }}</h2>
    {% for post in site.categories[page.categories] %}
    <article class="post elenco" itemscope itemtype="http://schema.org/BlogPosting">
        {%- include post.html -%}
    </article>
    {% endfor %}
</section>
