<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="{{ page.slug }}">
        {{ content }}
    </main>

    {%- include footer.html -%}

</body>

</html>
