<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "it" }}">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    <main class="{{ page.slug }}">
        <h1 class="page-heading">{{ page.title }}</h1>
        <section class="testo" itemprop="articleBody">
            {{ content }}
        </section>
        <section class="post-list">
            <h2 class="page-heading">Ultimi post pubblicati</h2>
            {%- for post in site.posts -%}
                <article class="post elenco" itemscope itemtype="http://schema.org/BlogPosting">
                    {%- include post.html -%}
                </article>
            {%- endfor -%}
        </section>
        <aside class="dx">
        </aside>
    </main>
    {%- include footer.html -%}
</body>
</html>
