---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h3         class="category">{{ page.categories | first }}</h3>
        <h1 itemprop="name headline">{{ page.h1 | escape }}</h1>
        <h2 itemprop="name subtitle">{{ page.h2 | escape }}</h2>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
        </p>
    </header>
    <div class="testo" itemprop="articleBody">
        {{ content }}
    </div>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
